#HEADER{
    margin-left: 175px;
}
#My-Button{
    height:100px;
    width:150px;
    margin-left: 125px;
}
#MY-IMAGE{
height: 600px;
width: 600px;
}
#LABEL{
font-size: xx-large;
font-weight: bold;
margin-left: 250px;
}
#My-Button-Reset{
    height:100px;
    width:150px;
    margin-left: 5px;
}